* {
    box-sizing: border-box;
}

body {
    align-items: 100vh;
    background : #82DBD8;
    display    : flex;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width : 300px;
}

input {
    border       : 2px solid #2F8F9D;
    border-radius: 8px;
    font-family  : sans-serif;
    height       : 45px;
    padding      : 8px 10px;
    width        : 100%;
}

ul {
    list-style: none;
    padding   : 0;
}

li {
    background   : #B3E8E5;
    border-radius: 8px;
    margin       : 5px 0;
    padding      : 8px 15px;
    width        : 100%;
}